In [ ]:
!pip3 install sqlalchemy==1.3.9

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [ ]:
%load_ext sql

In [ ]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [ ]:
%sql sqlite:///my_data1.db

In [ ]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

In [ ]:
%sql select * from SPACEXTBL LIMIT 1

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites  in the space mission

In [ ]:
%sql select DISTINCT("Launch_Site") from SPACEXTBL

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [ ]:
%sql select * from SPACEXTBL where "Launch_Site" like 'CCA%' limit(5)

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [ ]:
%sql select "PAYLOAD_MASS__KG_" from SPACEXTBL where Customer == "NASA (CRS)"

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [ ]:
%sql select total("PAYLOAD_MASS__KG_") from SPACEXTBL where Booster_Version == "F9 v1.1"

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

*Hint:Use min function*

In [ ]:
%sql select min("Date") from SPACEXTBL where Mission_Outcome == "Success"

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [ ]:
%sql select "Booster_Version" from SPACEXTBL where Mission_Outcome == "Success" \
and "PAYLOAD_MASS__KG_" between 4000 and 6000

### Task 7

##### List the total number of successful and failure mission outcomes

In [ ]:
%sql select "Mission_Outcome", count(*) from SPACEXTBL group by "Mission_Outcome"

### Task 8

##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [ ]:
%sql select "Booster_Version" from SPACEXTBL \
where "PAYLOAD_MASS__KG_" = (select max("PAYLOAD_MASS__KG_") from SPACEXTBL)

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [ ]:
%sql select substr(Date, 4, 2),"Landing _Outcome","Booster_Version","Launch_Site" from SPACEXTBL \
where substr(Date,7,4)='2015' and "Landing _Outcome" == "Failure (drone ship)"

### Task 10

##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [ ]:
%sql select * from SPACEXTBL \
where "Landing _Outcome" == "Success" \
and "Date" > 04-06-2010